<div style="margin:auto; display:table;">
  <form action="/user/create" method="POST" class="form-signup">
    <p><%= __('Create an account') %></p>
    <input type="text" class="form-control-invalid" placeholder="Username" name="username" />
    <input type="password" class="form-control-invalid" placeholder="<%= __('Password') %>" name="password"/>
    <input type="password" class="form-control-invalid" placeholder="<%= __('Confirm password') %>" name="passwordConfirmation"/>
    <input type="submit" class="red-item fade-item btn-submit" value="<%= __('Create an account') %>">
    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
  </form>
</div>
